.Errors {
	margin: var(--spacer);
	padding: var(--spacer);
	background-color: var(--light-background-color);
	border: var(--border);

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: var(--spacer);
	}

	&-warningIcon {
		height: 1em;
		width: 3em;
	}

	&-title {
		font-size: 1em;
	}

	&-messages {
		font-size: 14px;
		color: var(--secondary-color);
	}

	&[data-state="hidden"] {
		display: none;
	}
}
