.Search {
	margin: var(--spacer);
	padding: var(--spacer);
	background-color: var(--light-background-color);
	border: var(--border);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--spacer);

	&-input {
		background-color: var(--medium-background-color);
		grid-column: span 2;
	}

	&-error {
		color: var(--primary-color);
		grid-column: span 2;
		font-size: 12px;

		&[data-state="hidden"] {
			display: none;
		}
	}

	&-stopButton {
	}
}
