:root {
	--primary-color: hsl(0, 100%, 40%);
	--secondary-color: hsl(0, 0%, 75%);
	--light-background-color: hsl(0, 0%, 13%);
	--medium-background-color: hsl(0, 0%, 11%);
	--dark-background-color: hsl(0, 0%, 9%);
	--text-primary-color: hsl(0, 0%, 100%);
	--border-color: hsl(0, 0%, 19%);
	--spacer: 10px;
	--radius: 4px;
	--border: solid var(--border-color) 1px;
	--stroke-width: 1.5px;
}

@import "./reset.scss";
@import "./components/Icons.scss";
@import "./components/Button.scss";
@import "./components/Input.scss";
@import "./components/Graph.scss";
@import "./components/Sidebar.scss";
@import "./components/Card.scss";
@import "./components/Search.scss";

* {
	outline: none;
}

body {
	background-color: var(--dark-background-color);
	color: var(--text-primary-color);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
		Segoe UI Emoji;
	display: grid;
	grid-template-columns: auto 1fr;
}
